.gpt3__article{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}

.gpt3__article-image{
    width:100%;
    height:100%;
}
.gpt3__article-image img{
    width:100%;
    height:100%;
}

.gpt3__article-text{
    width:100%;
    height:100%;
    font-family:var(--font-family);
    margin-top:0;
    background-color:var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}
.gpt3__article-text p{
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: #fff;
}
.gpt3__article-text h3{
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}
.gpt3__article-text p:last-child{
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .gpt3__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}
